{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReDe{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.0/flowbite.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg fixed top-0 w-full z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <!-- Logo and Title -->
                <div class="flex items-center">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="h-20 w-20 mr-2">
                    <a href="/" class="text-2xl font-bold text-blue-600">ReDe</a>
                </div>
                <!-- Buttons Section -->
                <div class="flex space-x-4">
                    {% if user.is_authenticated %}
                        <!-- Botón de cerrar sesión -->
                        <form method="post" action="/logout/" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="text-white bg-red-500 py-2 px-4 rounded hover:bg-red-600">Cerrar sesión</button>
                        </form>
                    {% else %}
                        <!-- Botón de iniciar sesión -->
                        {% if request.path != '/login/' %}
                            <a href="/login" class="text-white bg-blue-500 py-2 px-4 rounded hover:bg-blue-600">Iniciar sesión</a>
                        {% endif %}
                    {% endif %}
                    {% if request.path != '/' %}
                        <!-- Botón de volver a inicio -->
                        <a href="/" class="text-white bg-gray-500 py-2 px-4 rounded hover:bg-gray-600">Volver al inicio</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <main class="{% block main_classes %}mt-20{% endblock %}">
        {% block content %}
        <!-- Aquí se insertará el contenido específico de cada página -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-white rounded-lg shadow dark:bg-gray-700 m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" class="h-24" alt="ReDe Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ReDe</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="/about" class="hover:underline me-4 md:me-6">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="/privacy-policy" class="hover:underline me-4 md:me-6">Política de privacidad</a>
                    </li>
                    <li>
                        <a href="/contacto" class="hover:underline">Contacto</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/" class="hover:underline">ReDe™</a>. Todos los derechos reservados.</span>
        </div>
    </footer>
     <!-- Cookie Consent -->
     <div id="cookie-consent" class="fixed bottom-4 right-4 bg-white shadow-md rounded-lg p-4 flex items-center justify-between max-w-md z-50 hidden">
        <div class="flex-1">
            <p class="text-sm text-gray-700">
                Utilizamos cookies para asegurarnos de brindarte la mejor experiencia en nuestro sitio web. Consulta nuestra <a href="/privacy-policy" class="text-blue-500 underline">Política de Privacidad</a>.
            </p>
        </div>
        <div class="flex-shrink-0 ml-4">
            <button id="accept-cookies" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Aceptar</button>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.0/flowbite.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cookieConsent = document.getElementById('cookie-consent');
            const acceptCookies = document.getElementById('accept-cookies');

            if (!localStorage.getItem('cookiesAccepted')) {
                cookieConsent.classList.remove('hidden'); // Muestra el panel
            }

            acceptCookies.addEventListener('click', function () {
                localStorage.setItem('cookiesAccepted', 'true'); // Guarda la aceptación
                cookieConsent.classList.add('hidden'); // Oculta el panel
            });
        });
    </script>
</body>
</html>